# Configurações obrigatórias
BOT_TOKEN=seu_token_do_telegram
BASE_URL=https://seu-app-railway-ou-render.app
PORT=8002

# Configurações opcionais
MP_ACCESS_TOKEN=
MP_WEBHOOK_SECRET=
SILLIENTPAY_API_KEY=
SILLIENTPAY_WEBHOOK_SECRET=
DATABASE_URL=sqlite:///sales_bot.db
